arrow
beautifulsoup4
datasets
debugpy
decorator
entrypoints
executing
fastjsonschema
filelock
fqdn
frozenlist
fsspec
fuzzywuzzy
gdown
huggingface-hub
hydra-core
idna
importlib-resources
jedi
jinja2
jsonpointer
jsonschema
markupsafe
matplotlib
multiprocess
nltk
numpy
omegaconf
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
psutil
ptyprocess
pure-eval
pyarrow
pyrsistent
pysocks
python-dateutil
python-json-logger
python-Levenshtein
pyyaml
regex
requests
responses
rfc3339-validator
rfc3986-validator
scikit-learn
send2trash
stack-data
tinycss2
tokenizers
torch
tornado
transformers[torch]==4.45.2
typing-extensions
uri-template
urllib3
webcolors
webencodings
websocket-client
widgetsnbextension
xxhash
yarl
flask-cors
